@font-face {
  font-family: "robotoblack";
  src: url("../font/roboto-black-webfont.eot");
  src: url("../font/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../font/roboto-black-webfont.woff2") format("woff2"), url("../font/roboto-black-webfont.woff") format("woff"), url("../font/roboto-black-webfont.ttf") format("truetype"), url("../font/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../font/roboto-bold-webfont.eot");
  src: url("../font/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/roboto-bold-webfont.woff2") format("woff2"), url("../font/roboto-bold-webfont.woff") format("woff"), url("../font/roboto-bold-webfont.ttf") format("truetype"), url("../font/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../font/roboto-medium-webfont.eot");
  src: url("../font/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("roboto-medium-webfont.woff2") format("woff2"), url("../font/roboto-medium-webfont.woff") format("woff"), url("../font/roboto-medium-webfont.ttf") format("truetype"), url("../font/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/roboto-regular-webfont.eot");
  src: url("../font/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/roboto-regular-webfont.woff2") format("woff2"), url("../font/roboto-regular-webfont.woff") format("woff"), url("../font/roboto-regular-webfont.ttf") format("truetype"), url("../font/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .container-fluid {
    background-color: #202028;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "robotobold";
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #252733;
}

a {
  text-decoration: none;
}

.header-tittle {
  position: absolute;
  font-family: "robotoblack";
  font-size: 3.2em;
  color: #EBEBED;
  z-index: 1;
  line-height: 1.1em;
  width: 35%;
  margin: 3em 0 0 1.8em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .header-tittle {
    font-size: 2.5em;
    margin: 1em 0 0 1.8em;
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  .header-tittle {
    margin: 1em 0 0 1em;
    font-size: 2.5em;
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .header-tittle {
    visibility: hidden;
  }
}

.header-text {
  position: absolute;
  z-index: 1;
  font-family: "robotoblack";
  font-size: 1.5em;
  color: #17BF63;
  margin: 14em 0 0 4em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .header-text {
    margin: 12em 0 0 4em;
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 767px) {
  .header-text {
    margin: 12em 0 0 2.5em;
    font-size: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .header-text {
    visibility: hidden;
  }
}

.container {
  margin: 0 1em 0 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    margin: auto;
  }
}

.logo-endurance {
  font-family: "robotobold";
  font-size: 1.2em;
  color: #17BF63;
  text-decoration: none;
}
.logo-endurance:hover {
  color: #17BF63;
}

.logo-tickets {
  color: #C0C1C3;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #202028;
}

.navbar-collapse {
  margin: 0 -8em 0 3em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-collapse {
    margin: auto;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-collapse {
    margin: auto;
  }
}
@media only screen and (max-width: 480px) {
  .navbar-collapse {
    margin: auto;
  }
}

.nav-link {
  color: #C0C1C3;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #17BF63;
}

.navbar-light {
  color: #C0C1C3;
}

@media only screen and (max-width: 480px) {
  .navbar-toggler {
    padding: 0.25rem 0;
  }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-menu {
  background-color: #252733;
  border: none;
}

.dropdown-item {
  color: #EBEBED;
}
.dropdown-item:hover {
  color: #17BF63;
}

.btn-outline-success {
  color: #17BF63;
  border-color: #17BF63 !important;
}
.btn-outline-success:hover {
  background-color: #17BF63;
  color: #EBEBED;
}

.btn {
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 0.1rem 0.75rem;
}

.form-control {
  padding: 0.25rem 4.75rem 0.2rem 1.5rem;
  border-radius: 1rem;
  background-color: #252733;
  border: 1px solid #252733;
}

@media only screen and (max-width: 480px) {
  .carousel {
    margin: 1em 2em;
  }
}

.carousel-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #252733;
  opacity: 0.6;
}
@media only screen and (max-width: 480px) {
  .carousel-item:before {
    bottom: 1em;
    height: 12em;
    background-color: #202028;
  }
}

@media only screen and (max-width: 480px) {
  .border-img {
    border-radius: 2em;
    height: 12em;
  }
}

.galeryContainer {
  background-color: #202028;
}

.galery-text {
  font-family: "robotobold";
  font-size: 1em;
  color: #767678;
  padding: 2em 5em;
}
@media only screen and (max-width: 480px) {
  .galery-text {
    padding: 2em 2em;
  }
}

.card {
  background-color: #252733;
  border-radius: 2em;
  margin: auto;
  margin-bottom: 2em;
}

.card-date {
  position: absolute;
  z-index: 1;
  background-color: #17BF63;
  color: #202028;
  margin: 0 2em;
  padding: 0.5em;
}

.date-text {
  font-family: "robotoregular";
  font-size: 0.6em;
  color: #252733;
  margin: 0;
  text-align: center;
}

.date-number {
  font-family: "robotomedium";
  font-size: 2em;
  color: #252733;
  margin: 0;
  line-height: 0.8em;
}

.card-img-top {
  border-top-left-radius: calc(2rem - 1px);
  border-top-right-radius: calc(2rem - 1px);
}

.card-title {
  color: #EBEBED;
}

.card-text {
  color: #999999;
}

.card-category {
  color: #17BF63;
}

.footer-endurance {
  position: absolute;
  font-family: "robotobold";
  font-size: 1.5em;
  color: #17BF63;
  padding: 0.5em 0 0;
  opacity: 0.8;
}

.footer-tickets {
  color: #EBEBED;
}

.copyright {
  position: relative;
  font-family: "robotomedium";
  font-size: 0.8em;
  color: #767678;
  padding: 3.5em 0 0.5em;
}

.bg-color-event {
  background-color: #2A2A32;
}

.card-image {
  width: 100%;
  height: 450px;
  background-size: cover;
}
@media only screen and (max-width: 480px) {
  .card-image {
    height: 11em;
  }
}
@media only screen and (max-width: 767px) {
  .card-image {
    height: 18em;
  }
}

.card-content {
  background-color: #252733;
  border-radius: 2em;
}

@media only screen and (max-width: 480px) {
  .card-info-container {
    padding: 0 0 0 1em;
  }
}
@media only screen and (max-width: 767px) {
  .card-info-container {
    padding: 0;
    margin: 0 2em;
  }
}

.card-info-top {
  display: inline-block;
  color: #EBEBED;
}

.info-reg {
  background-color: #767678;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 1em;
}
@media only screen and (max-width: 480px) {
  .info-reg {
    padding: 0.5em 0.8em;
    margin: 0.2em;
  }
}

.info-reg-green {
  background-color: #17BF63;
}

.info-text {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .info-text {
    font-size: 0.7em;
  }
}

.progress-bar-content {
  margin-top: 3em;
  padding: 0 5em 0 15em;
}
@media only screen and (max-width: 480px) {
  .progress-bar-content {
    margin-top: 0;
    padding: 0 2em 0 2em;
  }
}
@media only screen and (max-width: 767px) {
  .progress-bar-content {
    width: 100%;
    margin-top: 1em;
    padding: 0 4em 0 4em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .progress-bar-content {
    width: 100%;
    margin-top: 1em;
    padding: 0 4em 0 4em;
  }
}

.progress {
  height: 2em;
  font-size: 0.8em;
  border-radius: 2em;
}

.progress-bar {
  background-color: #176EBF;
}

.card-main-info {
  padding: 0 5em;
}
@media only screen and (max-width: 480px) {
  .card-main-info {
    padding: 2em 2em;
  }
}
@media only screen and (max-width: 767px) {
  .card-main-info {
    padding: 0 3em;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .card-main-info {
    padding: 0 3em;
    width: 100%;
  }
}

.card-title-event {
  font-family: "robotoblack";
  font-size: 2em;
  color: #EBEBED;
}
@media only screen and (max-width: 480px) {
  .card-title-event {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 767px) {
  .card-title-event {
    margin-top: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .card-title-event {
    margin-top: 2em;
  }
}

.card-date-event {
  font-family: "robotomedium";
  font-size: 1em;
  color: #999999;
}

.card-text-event {
  font-family: "robotomedium";
  font-size: 1em;
  color: #EBEBED;
}
@media only screen and (max-width: 480px) {
  .card-text-event {
    font-size: 0.9em;
  }
}

.btn-register {
  background-color: #17BF63;
  font-family: "robotoblack";
  font-size: 1em;
  color: #EBEBED;
  margin: 2em 2em 0 14em;
  padding: 1em 5em;
}
@media only screen and (max-width: 480px) {
  .btn-register {
    margin: 1em 2em;
    padding: 1em 5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btn-register {
    margin: 1em 0em 1em 2em;
    padding: 1em 7.5em;
  }
}
@media only screen and (max-width: 767px) {
  .btn-register {
    margin: 1em 3em;
    padding: 1em 5em;
  }
}

.card-date-e {
  position: absolute;
  z-index: 1;
  background-color: #17BF63;
  color: #202028;
  margin: 0px 5em;
  padding: 0.5em 1.5em;
}
@media only screen and (max-width: 480px) {
  .card-date-e {
    margin: 0px 2em;
    padding: 0.5em 1.2em;
  }
}

.date-text-e {
  font-family: "robotoregular";
  font-size: 1em;
  color: #252733;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .date-text-e {
    font-size: 0.8em;
  }
}

.date-number-e {
  font-family: "robotobold";
  font-size: 3em;
  color: #252733;
  margin: 0;
  line-height: 0.9em;
}
@media only screen and (max-width: 480px) {
  .date-number-e {
    font-size: 2em;
  }
}

.btn-register-modal {
  background-color: #17BF63;
  font-family: "robotoblack";
  font-size: 1em;
  color: #EBEBED;
  margin: 2em 2em 0 20em;
  padding: 1em 2em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btn-register-modal {
    margin: 1em 0em 1em 2em;
    padding: 1em 7.5em;
  }
}
@media only screen and (max-width: 767px) {
  .btn-register-modal {
    margin: 1em 3em;
    padding: 1em 5em;
  }
}
@media only screen and (max-width: 480px) {
  .btn-register-modal {
    margin: 1em auto;
    padding: 1em 5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btn-register-modal {
    margin: 1em 0em 1em 0em;
    padding: 1em 7.5em;
  }
}

.modal-content {
  background-color: #252733;
  border-radius: 3em;
  height: 36em;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .modal-1-page {
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .modal-1-page {
    visibility: hidden;
  }
}
@media only screen and (max-width: 480px) {
  .modal-1-page {
    visibility: hidden;
  }
}

.modal-register {
  position: relative;
}
@media only screen and (max-width: 480px) {
  .modal-register {
    top: -36em;
  }
}
@media only screen and (max-width: 767px) {
  .modal-register {
    margin: auto;
    padding: 0 3em 0 2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .modal-register {
    top: -35em;
    margin: 0 2.8em 0;
  }
}

.modal-image {
  background: url(../img/aguasAbiertas.jpg);
  background-size: cover;
  height: 36em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
}

.box-event-name {
  position: absolute;
  z-index: 2;
  /* width: 50%; */
  top: 2em;
  margin-left: 2em;
}

.btn-position {
  position: absolute;
  z-index: 2;
  top: 40px;
  margin-left: 2em;
}

.event-name {
  margin-top: 1em;
  text-transform: uppercase;
  font-family: "robotoblack";
  font-size: 2.5em;
  color: #EBEBED;
}

.price-box {
  position: absolute;
  z-index: 2;
  width: 11%;
  padding: 0.5em 1em;
  background-color: #17BF63;
  top: 12em;
  margin-left: 2em;
  opacity: 0.75;
}

.price {
  margin: 0;
  font-family: "robotoblack";
  font-size: 1.5em;
  color: #2A2A32;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  color: #999999;
  z-index: 2;
}

.progressbar li:before {
  content: "";
  counter-increment: step;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #999999;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #999999;
  z-index: 2;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #999999;
  top: 8px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #17BF63;
}

.progressbar li.active:before {
  background-color: #17BF63;
}

.progressbar li.active + li:after {
  background-color: #17BF63;
}

.input-number {
  width: 40%;
  height: 1.5em;
  position: relative;
  right: -6.5em;
}

.register-tittle {
  color: #EBEBED;
  padding: 2em 0 0 0;
  margin: 0;
}

.letters-grey {
  color: #999999;
}

.total-color {
  color: #EBEBED;
}

.cuenta {
  padding-top: 1em;
  width: 20em;
  margin: auto;
}

input[type=text] {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #17BF63;
  background-color: #252733;
}
@media only screen and (max-width: 480px) {
  input[type=text] {
    width: 90%;
  }
}

.progressbar li.step2 {
  color: #17BF63;
}

.progressbar li.step2:before {
  background-color: #17BF63;
}

.progressbar li.step2 + li:after {
  background-color: #17BF63;
}

.text-muted {
  padding-left: 1em;
}

.progressbar li.step3 {
  color: #17BF63;
}

.progressbar li.step3:before {
  background-color: #17BF63;
}