@import 'fonts';
@import 'utils'; 
@import 'vars';
@import 'media-queries'; 


.container-fluid {
    padding: 0;
}

//HTML TAGS
body{
    margin: 0;
    padding: 0;
    @include set-text('robotobold', false, false);
}
footer{
    background-color: $card-grey;
}

//NAV
.container{
    margin: 0 1em 0 1em;
}
.logo-endurance{
    color: $green;
    text-decoration: none;

    &:hover{
        color: $green;
    }
}
.logo-tickets{
    color: $ligth-grey;
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    background-color: $nav-grey;
}
.navbar-collapse {
    margin: 0 -8em 0 3em;
}
.nav-link{
    color: $ligth-grey;

    &:hover{
        color: $green;
    }
}
.navbar-light{
    color: $ligth-grey
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.dropdown-menu{
    background-color: $card-grey;
    border: none;
}
.dropdown-item{
    color: $letters-white;

    &:hover{
        color: $green;
    }
}
.btn-outline-success {
    color: $green;
    border-color: $green !important;

    &:hover{
        background-color: $green;
        color: $white-copy;
    }
}
.btn{
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: .100rem .75rem;
}
.form-control{
    padding: 0.250rem 4.75rem 0.200rem 1.50rem;
    border-radius: 1rem;
    background-color: $card-grey;
    border: 1px solid $card-grey;
    
}
//GALERY
.galeryContainer{
    background-color:$nav-grey;
}
.card{
    background-color: $card-grey;
}
.card-date{
    background-color: $green;
    color: $nav-grey;
}
.card-title{
    color: $letters-white;
}
.card-text{
    color: $letters-grey;
}
.card-category{
    color: $green;
}
