@import 'fonts';
@import 'utils'; 
@import 'vars';
@import 'media-queries'; 


.container-fluid {
    padding: 0;
    margin: 0;
    @include respond-to($phone) {
        background-color: $nav-grey;
    }
}

//HTML TAGS
body{
    margin: 0;
    padding: 0;
    @include set-text('robotobold', false, false);
}
footer{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: $card-grey; 
}
a{
    text-decoration: none;
}

//---------------------------------------------------------------INDEX.HTML--------------------------------------------------------------------

//HEADER
.header-tittle{
    position: absolute;
    @include set-text('robotoblack', 3.2em, $letters-white);
    z-index: 1;
    line-height: 1.1em;
    width: 35%;
    margin: 3em 0 0 1.8em;
    @include respond-to($phone) {
        visibility: hidden;
    }
    @include respond-to($tablet-portrait) {
        margin: 1em 0 0 1em;
        font-size: 2.5em;
        width: 50%;
     }
    @include respond-to($tablet-landscape) {
        font-size: 2.5em;
        margin: 1em 0 0 1.8em;
        width: 40%;
     }
     
}
.header-text{
    position: absolute;
    z-index: 1;
    @include set-text('robotoblack', 1.5em, $green);
    margin: 14em 0 0 4em;
    @include respond-to($phone) {
        visibility: hidden;
    }
    @include respond-to($tablet-portrait) {
        margin: 12em 0 0 2.5em;
        font-size: 1em;
     }
    @include respond-to($tablet-landscape) {
        margin: 12em 0 0 4em;
        font-size: 1.2em;
     }  
}
//NAV
.container{
    margin: 0 1em 0 1em;
    @include respond-to($phone) {
        margin: auto;
    }
    @include respond-to($tablet-portrait) {
        max-width: 767px;
     }
    @include respond-to($tablet-landscape) {
        margin: auto;
     }
     
}
.logo-endurance{
    @include set-text('robotobold', 1.2em, $green);
    text-decoration: none;

    &:hover{
        color: $green;
    }
}
.logo-tickets{
    color: $ligth-grey;
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    background-color: $nav-grey;
}
.navbar-collapse {
    margin: 0 -8em 0 3em;
    @include respond-to($phone) {
        margin: auto;
     }
     @include respond-to($tablet-portrait) {
        margin: auto;
     }
     @include respond-to($tablet-landscape) {
        margin: auto;
     }
    
}
.nav-link{
    color: $ligth-grey;
    text-transform: uppercase;

    &:hover{
        color: $green;
    }
}
.navbar-light{
    color: $ligth-grey
}
.navbar-toggler{
    @include respond-to($phone) {
        padding: .25rem 0;
     }
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.dropdown-menu{
    background-color: $card-grey;
    border: none;
}
.dropdown-item{
    color: $letters-white;

    &:hover{
        color: $green;
    }
}
.btn-outline-success {
    color: $green;
    border-color: $green !important;

    &:hover{
        background-color: $green;
        color: $letters-white;
    }
}
.btn{
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: .100rem .75rem;
}
.form-control{
    padding: 0.250rem 4.75rem 0.200rem 1.50rem;
    border-radius: 1rem;
    background-color: $card-grey;
    border: 1px solid $card-grey;
    
}
//SLIDER
.carousel{
    @include respond-to($phone) {
        margin: 1em 2em;
        
    }
}
.carousel-item:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $card-grey;
    opacity: 0.6;
    @include respond-to($phone) {
        bottom: 1em;
        height: 12em;
        background-color: $nav-grey;
    }
}
.border-img{
    @include respond-to($phone) {
        border-radius: 2em;
        height: 12em;
    }
}
//GALERY
.galeryContainer{
    background-color:$nav-grey;
}
.galery-text{
    @include set-text('robotobold', 1em, $footer-grey);
    padding: 2em 5em;
    @include respond-to($phone) {
        padding: 2em 2em;
    }
}
.card{
    background-color: $card-grey;
    border-radius: 2em;
    margin: auto;
    margin-bottom: 2em;
}
.card-date{
    position: absolute;
    z-index: 1;
    background-color: $green;
    color: $nav-grey;
    margin: 0 2em;
    padding: 0.5em;
}
.date-text{
    @include set-text('robotoregular', 0.6em, $card-grey);
    margin: 0;
    text-align: center;
}
.date-number{
    @include set-text('robotomedium', 2em, $card-grey);
    margin: 0;
    line-height: 0.8em;
}
.card-img-top{
    border-top-left-radius: calc(2rem - 1px);
    border-top-right-radius: calc(2rem - 1px);
}
.card-title{
    color: $letters-white;
}
.card-text{
    color: $letters-grey;
}
.card-category{
    color: $green;
}
//FOOTER
.footer-endurance{
    position: absolute;
    @include set-text('robotobold', 1.5em, $green);
    padding: .5em 0 0;
    opacity: 0.8;
}
.footer-tickets{
    color: $letters-white;
}
.copyright{
    position: relative;
    @include set-text('robotomedium', .8em, $footer-grey);
    padding: 3.5em 0 .5em;
}
//---------------------------------------------------------------EVENTO.HTML--------------------------------------------------------------------

//CARD
.bg-color-event{
    background-color: $bg-grey;
}
.card-image{
    width: 100%;
    height: 450px;
    background-size: cover;
    @include respond-to($phone) {
        height: 11em;
    }
    @include respond-to($tablet-portrait) {
        height: 18em;
    }
}
.card-content{
    //position: absolute;
    background-color: $card-grey;
    border-radius: 2em;
}
.card-info-container{
    @include respond-to($phone) {
        padding: 0 0 0 1em;
    }
    @include respond-to($tablet-portrait) {
        padding: 0;
        margin: 0 2em;
    }
}
.card-info-top{
    display: inline-block;
    color: $letters-white;
}
.info-reg{
    background-color: $footer-grey;
    border-radius: 1em;
    padding: .5em 1em;
    margin: 1em;
    @include respond-to($phone) {
        padding: 0.5em 0.8em;
        margin: 0.2em;
    }
}
.info-reg-green{
    background-color: $green;
    
}
.info-text{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    @include respond-to($phone) {
        font-size: 0.7em;
    }
}
.progress-bar-content{
    margin-top: 3em;
    padding: 0 5em 0 15em ;
    @include respond-to($phone) {
        margin-top: 0;
        padding: 0 2em 0 2em;
    }
    @include respond-to($tablet-portrait) {
        width: 100%;
        margin-top: 1em;
        padding: 0 4em 0 4em;
    }
    @include respond-to($tablet-landscape) {
        width: 100%;
        margin-top: 1em;
        padding: 0 4em 0 4em;
    }
}
.progress{
    height: 2em;
    font-size: 0.8em;
    border-radius: 2em;
}
.progress-bar{
    background-color: $progress-bar;
}
.card-main-info{
    padding: 0 5em;
    @include respond-to($phone) {
        padding: 2em 2em;
    }
    @include respond-to($tablet-portrait) {
        padding: 0 3em;
        width: 100%;
    }
    @include respond-to($tablet-landscape) {
        padding: 0 3em;
        width: 100%;
    }
}
.card-title-event{
    @include set-text('robotoblack', 2em, $letters-white);
    @include respond-to($phone) {
        font-size: 1.5em;
    }
    @include respond-to($tablet-portrait) {
        margin-top: 1.5em;
    }
    @include respond-to($tablet-landscape) {
        margin-top: 2em;
    }
}
.card-date-event{
    @include set-text('robotomedium', 1em, $letters-grey);
}
.card-text-event{
    @include set-text('robotomedium', 1em, $letters-white);
    @include respond-to($phone) {
        font-size: 0.9em;
    }
}
.btn-register{
    background-color: $green;
    @include set-text('robotoblack', 1em, $letters-white);
    margin: 2em 2em 0 20em;
    padding: 1em 2em;
    @include respond-to($phone) {
        margin: 0 1em;
        padding: 1em 6.5em;
    }
    @include respond-to($tablet-portrait) {
        margin: 1em 3em;
        padding: 1em 5.5em;
    }
    @include respond-to($tablet-landscape) {
        margin: 1em 3em 1em 21em;
        padding: 1em 5.5em;
    }
}
.card-date-e{
    position: absolute;
    z-index: 1;
    background-color: #17BF63;
    color: #202028;
    margin: 0px 5em;
    padding: 0.5em 1.5em;
    @include respond-to($phone) {
        margin: 0px 2em;
        padding: 0.5em 1.2em;
    }
}
.date-text-e {
    font-family: "robotoregular";
    font-size: 1em;
    color: #252733;
    margin: 0;
    text-align: center;
    @include respond-to($phone) {
        font-size: 0.8em;
    }
}
.date-number-e {
    font-family: "robotobold";
    font-size: 3em;
    color: #252733;
    margin: 0;
    line-height: 0.9em;
    @include respond-to($phone) {
        font-size: 2em;
    }
}


//---------------------------------------------------------------MODAL REGISTRO--------------------------------------------------------------------

//IMAGE
.modal-content{
    background-color: $card-grey;
    border-radius: 3em;
    height: 36em;
}
.modal-image{
    background: url(../img/aguasAbiertas.jpg);
    background-size: cover;
    height: 36em;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    
}
.box-event-name{
    position: absolute;
    z-index: 2;
    /* width: 50%; */
    top: 2em;
    margin-left: 2em;
}
.btn-position{
    position: absolute;
    z-index: 2;
    top: 40px;
    margin-left: 2em;
}
.event-name{
    margin-top: 1em;
    text-transform: uppercase;
    @include set-text('robotoblack', 2.5em, $letters-white);
}
.price-box{
    position: absolute;
    z-index: 2;
    width: 11%;
    padding: 0.5em 1em;
    background-color: $green;
    top: 12em;
    margin-left: 2em;
}
.price{
    margin: 0;
    @include set-text('robotoblack', 1.5em, $bg-grey);
}
//PROGRESS BAR
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    color: $letters-grey;
    z-index: 2;
}
.progressbar li:before {
    content: '';
    counter-increment: step;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid $letters-grey;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: $letters-grey;
    z-index: 2;
}
.progressbar li:after{
    content:'';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: $letters-grey;
    top: 8px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after{
    content: none;
}
.progressbar li.active{
    color: $green;
}
.progressbar li.active:before{
    background-color: $green;
}
.progressbar li.active + li:after{
    background-color: $green;
}
.input-number{
    width: 40%;
    height: 1.5em;
    position: relative;
    right: -6.5em;
}
.register-tittle{
    color: $letters-white;
    padding: 2em 0 0 0;
    margin: 0;
}
.letters-grey{
    color: $letters-grey;
}
.total-color{
    color: $letters-white;
}

//---------------------------------------------------------------MODAL CUENTA--------------------------------------------------------------------
.cuenta{
    padding-top: 1em;
    width: 20em;
    margin: auto;
}
input[type=text] {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $green;
    background-color: $card-grey;
  }
  .progressbar li.step2{
    color: $green;
}
.progressbar li.step2:before{
    background-color: $green;
}
.progressbar li.step2 + li:after{
    background-color: $green;
}
.text-muted{
    padding-left: 1em;
}

//---------------------------------------------------------------MODAL CUENTA--------------------------------------------------------------------

.progressbar li.step3{
    color: $green;
}
.progressbar li.step3:before{
    background-color: $green;
}
