@import 'fonts';
@import 'utils'; 
@import 'vars';
@import 'media-queries'; 


.container-fluid {
    padding: 0;
    margin: 0;
}

//HTML TAGS
body{
    margin: 0;
    padding: 0;
    @include set-text('robotobold', false, false);
}
footer{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: $card-grey; 
}
a{
    text-decoration: none;
}
//HEADER
.header-tittle{
    position: absolute;
    @include set-text('robotoblack', 3.2em, $letters-white);
    z-index: 1;
    line-height: 1.1em;
    width: 35%;
    margin: 3em 0 0 1.8em;
}
.header-text{
    position: absolute;
    z-index: 1;
    @include set-text('robotoblack', 1.5em, $green);
    margin: 14em 0 0 4em;
}
//NAV
.container{
    margin: 0 1em 0 1em;
}
.logo-endurance{
    @include set-text('robotobold', 1.2em, $green);
    text-decoration: none;

    &:hover{
        color: $green;
    }
}
.logo-tickets{
    color: $ligth-grey;
}
.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    background-color: $nav-grey;
}
.navbar-collapse {
    margin: 0 -8em 0 3em;
}
.nav-link{
    color: $ligth-grey;
    text-transform: uppercase;

    &:hover{
        color: $green;
    }
}
.navbar-light{
    color: $ligth-grey
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.dropdown-menu{
    background-color: $card-grey;
    border: none;
}
.dropdown-item{
    color: $letters-white;

    &:hover{
        color: $green;
    }
}
.btn-outline-success {
    color: $green;
    border-color: $green !important;

    &:hover{
        background-color: $green;
        color: $letters-white;
    }
}
.btn{
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: .100rem .75rem;
}
.form-control{
    padding: 0.250rem 4.75rem 0.200rem 1.50rem;
    border-radius: 1rem;
    background-color: $card-grey;
    border: 1px solid $card-grey;
    
}
//SLIDER
.carousel-item:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $card-grey;
    opacity: 0.6;
}

//GALERY
.galeryContainer{
    background-color:$nav-grey;
}
.galery-text{
    @include set-text('robotobold', 1em, $footer-grey);
    padding: 2em 6em;
}
.card{
    background-color: $card-grey;
    border-radius: 2em;
}
.card-date{
    position: absolute;
    z-index: 1;
    background-color: $green;
    color: $nav-grey;
    margin: 0 2em;
    padding: 0.5em;
}
.date-text{
    @include set-text('robotoregular', 0.6em, $card-grey);
    margin: 0;
    text-align: center;
}
.date-number{
    @include set-text('robotomedium', 2em, $card-grey);
    margin: 0;
    line-height: 0.8em;
}
.card-img-top{
    border-top-left-radius: calc(2rem - 1px);
    border-top-right-radius: calc(2rem - 1px);
}
.card-title{
    color: $letters-white;
}
.card-text{
    color: $letters-grey;
}
.card-category{
    color: $green;
}

//FOOTER

.footer-endurance{
    position: absolute;
    @include set-text('robotobold', 1.5em, $green);
    padding: .5em 0 0;
    opacity: 0.8;
}
.footer-tickets{
    color: $letters-white;
}
.copyright{
    position: relative;
    @include set-text('robotomedium', .8em, $footer-grey);
    padding: 3.5em 0 .5em;
}